$class-slug: i !default;

.#{$class-slug}-0 {
  background: transparent;
}

@for $i from 10 through 19 {
  .#{$class-slug}-#{$i} {
    background: rgba(255,0,0,1 - ($i - 10)/10);
  }
}

@for $i from 20 through 29 {
  .#{$class-slug}-#{$i} {
    background: rgba(255,0,0,1);
  }
}

@for $i from 30 through 39 {
  .#{$class-slug}-#{$i} {
    // background: rgba(255 - ($i - 30) * 25,($i - 30) * 4, ($i - 30) * 4, 1);
    background: rgba(255,0,0,1);
  }
}