$padding-base: 15px;
$color-body: #F05F40;
$color-border: #ddd;
$color-link: #0275d8;
$color-white:#ffffff;
$color-black: #000000;
$border-radius: .25rem;

.stat-tab-h {
  padding: 0 2rem;
}

.nav-tabs {
  &--vertical {
    border-bottom: none;
    border-right: 1px solid $color-body;
    display: flex;
    flex-flow: column nowrap;
  }

  &--left {
    margin: 0 $padding-base;

    .nav-item + .nav-item {
      margin-top: .25rem;
    }

    .nav-link {
      color: $color-body;
      background-color: transparent;
      border-color: transparent;
      transition: border-color .125s ease-in;
      white-space: nowrap;

      &:hover {
        background-color: $color-white;
        border-color: $color-body;
        color:$color-black;
      }
    }

    .nav-link.active {
      background-color: $color-body;
      color:$color-white;
      border-color: $color-body;
      margin-right: -1px;

      &:hover {
        background-color: $color-white;
        border-color: $color-body;
        color:$color-black;
      }
    }
  }
}